<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		
        <link rel="apple-touch-icon" href="https://previews.123rf.com/images/rondale/rondale1609/rondale160900085/62398254-swedish-language-learning-study-swedish-icon-for-dictionary-translator-flag-of-sweden-stockholm-for-.jpg">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
	</head>
	<body ng-app="myApp"  ng-cloak >
		<!--
			Your HTML content here
			-->  
		<div ng-controller="formCtrl" layout="column" ng-cloak class="md-inline-form">
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<h2>PREIS-O² can do-MAT</h2>
				</div>
			</md-toolbar>
			<md-content layout-padding ng-show="active == 'loading'">
				<div layout="row" layout-sm="column" layout-align="space-around">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
			</md-content>
			<md-content layout-padding ng-show="active == 'admin'">
				
						<md-list flex>
							<md-list-item ng-repeat="x in persons" ng-click="null">
								<p>{{x.name}} - {{x.days}} Tage</p>
						
								 
							</md-list-item>
						</md-list>
					
					
					
					
					
					<form name="personForm">        
				<md-card >
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Füge eine neue Person hinzu</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
					<div layout="column">

						<md-input-container >
				            <label>Name</label>
				            <input
				            	ng-model="new.name"
				            	 md-maxlength="25" required 
				            	 placeholder="Name" required>
				          </md-input-container>
				          <md-input-container >
				            <label>Tage</label>
				            <input
				            	ng-model="new.days"
				            	 md-maxlength="25" required 
				            	 placeholder="Tage" required>
				          </md-input-container>
				          
				 
				          
				        </div>
					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button  ng-disabled="personForm.$invalid" class="md-raised md-accent"  ng-click="save()">submit</md-button>
					</md-card-actions>
				</md-card>
				</form>
					
					
					
					
					
			</md-content>
		</div>
		<!-- Angular Material requires Angular.js Libraries -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
		<!-- Angular Material Library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
		<!-- Your application bootstrap  -->
		<script type="text/javascript">    
			/**
			 * You must include the dependency on 'ngMaterial' 
			 */
			 var app = angular.module('myApp', ['ngMaterial']);
			
			 app.config(function($mdThemingProvider) {
					$mdThemingProvider.theme('default')
						.primaryPalette('indigo')
						.accentPalette('amber')
						.dark();
					});
			
			
			
			    app.controller('formCtrl', function($scope,$timeout, $http) {
			
			
			var timeout = $timeout;
			var scope = $scope;
			var http = $http;
			var me = this;
			
			
			
			scope.active = 'loading';
			scope.persons = [];
			scope.new = {};
			
			
			$http({
		 		method : 'GET',
		 		url : '/api/person',
		 		responseType : 'json'
		 	}).then(function(response) {
		 		scope.persons=response.data.data;
		 		scope.active = 'admin';
		 	},function(error) {
		 		console.log(error);
		 	});
 
			scope.save = function(){
				if(scope.new.name == null || scope.new.days == null){
					alert('Bitte Formular ausfüllen');
					return;
				}else{
					$http({
				 		method : 'POST',
				 		url : '/api/person',
				 		responseType : 'json',
				 		data : scope.new
				 	}).then(function(response) {
				 		scope.new = {};
				 	},function(error) {
				 		console.log(error);
				 	});
					
					
				
				}
			};

			
		
			
			});
		</script>
	</body>
</html>